{% extends '::base.html.twig' %}

{% block body -%}
    <div class="content pure-g">
        <div class="content-header pure-g">
            <div class="pure-u-1-2">
                <h1 class="content-title">Ebooks</h1>
                <p class="content-subtitle">
                    Edite el formulario para actualizar el Ebook.
                </p>
            </div>
            <div class="pure-u-1-2 content-controls">
                <a class="pure-button secondary-button" href="{{ path('admin_ebook') }}">Volver</a>
            </div>
        </div>
        <div class="content-body pure-u-1">
            <form action="{{ path('admin_ebook_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="pure-form pure-form-stacked">
        <input type="hidden" name="_method" value="PUT" />
                <div class="pure-g-r">
                    {{ form_errors(edit_form) }}
                    <fieldset>
                        <div class="pure-u-1">
                            {{ form_label(edit_form.title) }}
                            {{ form_errors(edit_form.title) }}
                            {{ form_widget(edit_form.title, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="pure-u-1-3">
                            {{ form_label(edit_form.author) }}
                            {{ form_errors(edit_form.author) }}
                            {{ form_widget(edit_form.author, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                        <div class="pure-u-1-3">
                            {{ form_label(edit_form.editorial) }}
                            {{ form_errors(edit_form.editorial) }}
                            {{ form_widget(edit_form.editorial, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                        <div class="pure-u-1-3">
                            {{ form_label(edit_form.year) }}
                            {{ form_errors(edit_form.year) }}
                            {{ form_widget(edit_form.year, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="pure-u-1">
                            {{ form_label(edit_form.url) }}
                            {{ form_errors(edit_form.url) }}
                            {{ form_widget(edit_form.url, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="pure-u-1-2">
                            {{ form_label(edit_form.category) }}
                            {{ form_errors(edit_form.category) }}
                            {{ form_widget(edit_form.category, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                        <div class="pure-u-1-2">
                            {{ form_label(edit_form.source) }}
                            {{ form_errors(edit_form.source) }}
                            {{ form_widget(edit_form.source, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="pure-u-1-4">
                            {{ form_label(edit_form.subscriptionType) }}
                            {{ form_errors(edit_form.subscriptionType) }}
                            {{ form_widget(edit_form.subscriptionType, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                        <div class="pure-u-1-4">
                            {{ form_label(edit_form.accessType) }}
                            {{ form_errors(edit_form.accessType) }}
                            {{ form_widget(edit_form.accessType, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                        <div class="pure-u-1-4">
                            {{ form_label(edit_form.bibliography) }}
                            {{ form_errors(edit_form.bibliography) }}
                            {{ form_widget(edit_form.bibliography, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                        <div class="pure-u-1-4">
                            {{ form_label(edit_form.status) }}
                            {{ form_errors(edit_form.status) }}
                            {{ form_widget(edit_form.status, {'attr': {'class': 'pure-input-1'}}) }}
                        </div>
                    </fieldset>
                    {{ form_rest(edit_form) }}
                </div>
                <p>
                    <button type="submit" class="pure-button success">Guardar</button>
                </p>
            </form>
            <form action="{{ path('admin_ebook_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit" class="pure-button error" onclick="if(!confirm('¿Estás seguro?')) { return false; }">Borrar</button>
            </form>
        </div>
    </div>
{% endblock %}
