{% extends '::base.html.twig' %}

{% block body -%}
    <div class="content pure-g">
        <div class="content-header pure-g">
            <div class="pure-u-1-2">
                <h1 class="content-title">Ebooks</h1>
                <p class="content-subtitle">
                    Listado de libros electrónicos al <span>{{ "now"|date("d/M/Y") }}</span>
                </p>
            </div>
            <div class="pure-u-1-2 content-controls">
                <a class="pure-button secondary-button" href="{{ path('admin_ebook_new') }}">Nuevo</a>
                <!-- <a class="pure-button secondary-button">Exportar a Excel</a> -->
            </div>
        </div>
        <div class="content-body pure-u-1">
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Año</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr {{  cycle(['class=pure-table-odd', ''] , loop.index)  }}>
                        <td>
                            <a href="{{ path('admin_ebook_edit', { 'id': entity.id }) }}">{{ entity.title }}</a>
                        </td>
                        <td>{{ entity.author }}</td>
                        <td>{{ entity.year }}</td>
                        <td>
                            <a href="{{ path('admin_ebook_edit', { 'id': entity.id }) }}">
                                <img src="{{ asset('img/icons/edit.png') }}" alt="Editar" />
                            </a>
                            <a href="{{ path('admin_ebook_edit', { 'id': entity.id }) }}">
                                <img src="{{ asset('img/icons/trash.png') }}" alt="Eliminar" />
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
