{% extends '::front.html.twig' %}

{% block body -%}
<div id="main">
        <aside id="contexto">
            <nav id="aside">
                <ul class="lateral-page">
                    <li class="pagenav">
                        <h3>Áreas temáticas</h3>
                        <ul>
                            {% for category in categories %}
                            <li class="page_item {% if(category.id == id) %} current_page_item {% endif %}"> {# current_page_item #}
                                <a href="{{ path('search_databases_by_category', { 'id': category.id }) }}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <section id="page" class="ariel">
            <article>
                <h2>Bases de Datos</h2>
                <h3>{{ category.name }}</h3>
                <input type="text" id="search" class="form-control" placeholder="Ingrese su búsqueda">
                <table>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <br>
                                <a href="{{ entity.url }}" target="_blank">
                                    <h5>{{ entity.title }}</h5>
                                </a>
                                <br>
                                {{ entity.description }}
                                <br><br>
                                <p>
                                    <a href="#" target="_blank" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-link"> Enlace Roto</span></a>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
        </section>
    </div>
{% endblock %}