{% extends '::front.html.twig' %}

{% block body -%}
    <div id="main">
        <aside id="contexto">
            <nav id="aside">
                <ul class="lateral-page">
                    <li class="pagenav">
                        <h3>Áreas temáticas</h3>
                        <ul>
                            {% for category in categories %}
                            <li class="page_item {% if(category.id == id) %} current_page_item {% endif %}">
                                <a href="{{ path('search_ebooks_by_category', { 'id': category.id }) }}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <section id="page" class="ariel">
            <article>
                <h2>Libros Electrónicos</h2>
                <h3>{{ category.name }}</h3>
                <input type="text" id="search" class="form-control" placeholder="Ingrese su búsqueda">
                <div style="height: 600px; overflow-y: scroll;">
                <table>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <br>
                                <a href="{{ entity.url }}" target="_blank">
                                    <h5>{{ entity.title }}</h5>
                                </a>
                                <br>
                                {{ entity.author }}
                                <br>
                                {{ entity.source }}, {{ entity.year }} 
                                <br>
                                <small>{{ entity.access }}</small>
                                <br>
                                <p>
                                    <a href="{{ path('broken_ebook', { 'id': entity.id, 'cat': category.id }) }}" class="btn btn-default btn-xs pull-right" onclick="return confirm('¿Está seguro que desea reportar este enlace como roto?')">
                                        <span class="glyphicon glyphicon-link"> Enlace Roto</span>
                                    </a>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </article>
        </section>
    </div>
    
{% endblock %}