{% extends '::front.html.twig' %}

{% block body -%}
    <div id="main">
        <aside id="contexto">
            <nav id="aside">
                <ul class="lateral-page">
                    <li class="pagenav">
                        <h3>Áreas temáticas</h3>
                        <ul>
                            {% for category in categories %}
                            <li class="page_item {% if(category.id == id) %} current_page_item {% endif %}"> {# current_page_item #}
                                <a href="{{ path('search_journals_by_category', { 'id': category.id }) }}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <section id="page" class="ariel">
            <article>
            <h2>Revistas</h2>
                <table>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <h5>Título:</h5>
                                {{ entity.title }}
                                <h5>Autor:</h5>
                                {{ entity.author }}
                                <br><br>
                                <p>
                                    <a href="{{ entity.url }}" target="_blank" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-link"> Visitar</span></a>
                                    &nbsp;{{ entity.accessType }}
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </article>
        </section>
    </div>
{% endblock %}