<aside id="contexto">
    <nav id="aside">
        <ul class="lateral-page">
            <li class="pagenav">
                <h3>
                    <span>Recursos por área</span>
                    <br>
                    <span>de conocimiento</span>
                </h3>
                <ul>
                    <li class="page_item page-item-81">
                        <a href="{{ wordpress_site }}?page_id=81">Bases de datos</a>
                    </li>
                    <li class="page_item page-item-83">
                        <a href="{{ wordpress_site }}?page_id=83">Repositorio</a>
                    </li>
                    <li class="page_item page-item-85">
                        <a href="{{ wordpress_site }}?page_id=85">Libros electrónicos</a>
                    </li>
                    <li class="page_item page-item-87">
                        <a href="{{ wordpress_site }}?page_id=87">Revistas electrónicas</a>
                    </li>
                </ul>
            </li>
            <li class="pagenav">
                <h3>
                    <span>Servicios SIBUDEC</span>
                </h3>
                <ul>
                    <li class="page_item page-item-40">
                        <a href="{{ wordpress_site }}?page_id=40">Préstamos</a>
                    </li>
                    <li class="page_item page-item-36">
                        <a href="{{ wordpress_site }}?page_id=36">Reservas y Renovación</a>
                    </li>
                    <li class="page_item page-item-38">
                        <a href="{{ wordpress_site }}?page_id=38">Renovación</a>
                    </li>
                    <li class="page_item page-item-42">
                        <a href="{{ wordpress_site }}?page_id=42">Solicitud de artículos</a>
                    </li>
                    <li class="page_item page-item-44">
                        <a href="{{ wordpress_site }}?page_id=44">Salas de estudio</a>
                    </li>
                    <li class="page_item page-item-46">
                        <a href="{{ wordpress_site }}?page_id=46">Alumnos memoristas</a>
                    </li>
                    <li class="page_item page-item-48">
                        <a href="{{ wordpress_site }}?page_id=48">Usuarios externos</a>
                    </li>
                    <li class="page_item page-item-52">
                        <a href="{{ wordpress_site }}?page_id=52">Conexión remota</a>
                    </li>
                    <li class="page_item page-item-54">
                        <a href="{{ wordpress_site }}?page_id=54">Formación de usuarios</a>
                    </li>
                    <li class="page_item page-item-157">
                        <a href="{{ wordpress_site }}?page_id=157">Boletín de novedades</a>
                    </li>
                    <li class="page_item page-item-50">
                        <a href="{{ wordpress_site }}?page_id=50">Libros patrimoniales</a>
                    </li>
                    <li class="page_item page-item-18">
                        <a href="{{ wordpress_site }}?page_id=18">Adquisiciones</a>
                    </li>
                </ul>
            </li>
            <li class="pagenav">
                <h3>
                    <span>Ayudas y tutoriales</span>
                </h3>
                <ul>
                    <li class="page_item page-item-96">
                        <a href="{{ wordpress_site }}?page_id=96">Tutoriales</a>
                    </li>
                    <li class="page_item page-item-98">
                        <a href="{{ wordpress_site }}?page_id=98">Preguntas Frecuentes</a>
                    </li>
                    <li class="page_item page-item-100">
                        <a href="{{ wordpress_site }}?page_id=100">Reglamentos</a>
                    </li>
                    <li class="page_item page-item-102">
                        <a href="{{ wordpress_site }}?page_id=102">Horarios y teléfonos</a>
                    </li>
                </ul>
            </li>
            <li id="linkcat-7" class="linkcat">
                <h3>
                    <span>
                        RANKING
                        <br>BASE DE DATOS</span>
                </h3>
                <ul class="xoxo blogroll">
                    <li>
                        <a href="http://search.proquest.com/agriculturejournals/advanced?accountid=15690" target="_blank">Agriculture Journals ProQuest</a>
                    </li>
                    <li>
                        <a href="http://www.thecochranelibrary.com/view/0/index.html" target="_blank">Cochrane Library</a>
                    </li>
                    <li>
                        <a href="http://apps.webofknowledge.com/" target="_blank">ISI Web of Science</a>
                    </li>
                    <li>
                        <a href="http://search.proquest.com/medical/advanced?" target="_blank">Medical Library Proquest</a>
                    </li>
                    <li>
                        <a href="http://www.ncbi.nlm.nih.gov/pubmed" target="_blank">PubMed</a>
                    </li>
                    <li>
                        <a href="http://www.sciencedirect.com/" target="_blank">ScienceDirect</a>
                    </li>

                </ul>
            </li>
        </ul>

    </nav>

</aside>