<aside id="contexto">
    <nav id="aside">
        <ul class="lateral-page">
            <li class="pagenav">
                <h3>Bibliotecas</h3>
                <ul>
                    <li class="page_item page-item-59">
                        <a href="{{ wordpress_site }}?page_id=59">Central</a>
                    </li>
                    <li class="page_item page-item-61">
                        <a href="{{ wordpress_site }}?page_id=61">Cs Jurídicas y Sociales</a>
                    </li>
                    <li class="page_item page-item-63">
                        <a href="{{ wordpress_site }}?page_id=63">Humanidades y Arte</a>
                    </li>
                    <li class="page_item page-item-65">
                        <a href="{{ wordpress_site }}?page_id=65">Medicina</a>
                    </li>
                    <li class="page_item page-item-67">
                        <a href="{{ wordpress_site }}?page_id=67">Odontología</a>
                    </li>
                    <li class="page_item page-item-69">
                        <a href="{{ wordpress_site }}?page_id=69">Arquitectura, Urbanismo y Geografía</a>
                    </li>
                    <li class="page_item page-item-71">
                        <a href="{{ wordpress_site }}?page_id=71">Matemáticas</a>
                    </li>
                    <li class="page_item page-item-73">
                        <a href="{{ wordpress_site }}?page_id=73">Cs Biológicas</a>
                    </li>
                    <li class="page_item page-item-75">
                        <a href="{{ wordpress_site }}?page_id=75">Cs Naturales y Oceanográficas</a>
                    </li>
                    <li class="page_item page-item-343">
                        <a href="{{ wordpress_site }}?page_id=343">Centro EULA</a>
                    </li>
                    <li class="page_item page-item-77">
                        <a href="{{ wordpress_site }}?page_id=77">Campus Chillán</a>
                    </li>
                    <li class="page_item page-item-79">
                        <a href="{{ wordpress_site }}?page_id=79">Campus Los Ángeles</a>
                    </li>
                </ul>
            </li>
            <li class="pagenav">
                <h3>
                    <span>Recursos por área</span>
                    <br>
                    <span>de conocimiento</span>
                </h3>
                <ul>
                    <li class="page_item page-item-81">
                        <a href="{{ wordpress_site }}?page_id=81">Bases de datos</a>
                    </li>
                    <li class="page_item page-item-83">
                        <a href="{{ wordpress_site }}?page_id=83">Repositorio</a>
                    </li>
                    <li class="page_item page-item-85">
                        <a href="{{ wordpress_site }}?page_id=85">Libros electrónicos</a>
                    </li>
                    <li class="page_item page-item-87">
                        <a href="{{ wordpress_site }}?page_id=87">Revistas electrónicas</a>
                    </li>
                </ul>
            </li>
            <li class="pagenav">
                <h3>
                    <span>Ayudas y</span>
                    <br>
                    <span>tutoriales</span>
                </h3>
                <ul>
                    <li class="page_item page-item-96">
                        <a href="{{ wordpress_site }}?page_id=96">Tutoriales</a>
                    </li>
                    <li class="page_item page-item-98">
                        <a href="{{ wordpress_site }}?page_id=98">Preguntas Frecuentes</a>
                    </li>
                    <li class="page_item page-item-100">
                        <a href="{{ wordpress_site }}?page_id=100">Reglamentos</a>
                    </li>
                    <li class="page_item page-item-102">
                        <a href="{{ wordpress_site }}?page_id=102">Horarios y teléfonos</a>
                    </li>
                </ul>
            </li>
            <li class="categories">
                <h3>
                    <span>Categorías de</span>
                    <br>
                    <span>Noticias</span>
                </h3>
                <ul>
                    <li class="cat-item cat-item-3">
                        <a href="{{ wordpress_site }}?cat=3" title="Ver todas las entradas archivadas en Noticias SIBUDEC">Noticias SIBUDEC</a>
                    </li>
                    <li class="cat-item cat-item-4">
                        <a href="{{ wordpress_site }}?cat=4" title="Ver todas las entradas archivadas en Noticias UdeC">Noticias UdeC</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="chat">
            <a href="{{ wordpress_site }}?page_id=108" title="Consulte a un bibliotecólogo">
                <img src="{{ wordpress_site }}wp-content/themes/sibudecH5/images/icono-consulte-a-un-bibliotecologo.png" alt="Consulte a un bibliotecólogo"></a>
        </div>     
    </nav>
</aside>