{% extends '::front.html.twig' %}

{% block body -%}
<div id="main">
  {{ include ('SibudecFrontBundle:Search:menu.html.twig') }}
  <section id="page" class="ariel">
    <article class="ui-accordion ui-widget ui-helper-reset" role="tablist">

      <h3>
              Solicitud de Certificado de no deuda de material bibliográfico
      </h3>

      <div class="form-wrapper">

      <form action="{{ path('application_for_certificate_create') }}" method="post" {{ form_enctype(form) }} role="form">

            {{ form_errors(form) }}
            <div class="form-group row">
              <div class="col-xs-4">
                {{ form_label(form.rut) }}
                {{ form_errors(form.rut) }}
                {{ form_widget(form.rut,{ 'attr': {'class': 'form-control', 'data-toggle': 'tooltip', 'data-placement': 'left', 'title': '', 'data-original-title': 'Ej. 12345678-k'} }) }}
              </div>
              <div class="col-xs-8">
                {{ form_label(form.email) }}
                {{ form_widget(form.email,{ 'attr': {'class': 'form-control', 'data-toggle': 'tooltip', 'data-placement': 'left', 'title': '', 'data-original-title': 'Correo UdeC'} }) }}
                {{ form_errors(form.email) }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-xs-6">
                {{ form_label(form.firstName) }}
                {{ form_errors(form.firstName) }}
                {{ form_widget(form.firstName,{ 'attr': {'class': 'form-control', 'data-toggle': 'tooltip', 'data-placement': 'left', 'title': '', 'data-original-title': 'Ambos Nombres'} }) }}
              </div>
              <div class="col-xs-6">
                {{ form_label(form.lastName) }}
                {{ form_errors(form.lastName) }}
                {{ form_widget(form.lastName,{ 'attr': {'class': 'form-control', 'data-toggle': 'tooltip', 'data-placement': 'left', 'title': '', 'data-original-title': 'Ambos Apellidos'} }) }}
              </div>
            </div>

            <ul class="nav nav-pills nav-justified row" id="tabs">
              <li class="active">
                <a href="#estudiante" data-toggle="tab">Soy estudiante</a>
              </li>
              <li>
                <a href="#trabajador" data-toggle="tab">Soy funcionario</a>
              </li>

              <div class="tab-content">
                <br>
                <div class="tab-pane active" id="estudiante">
                  <div class="form-group">
                    {{ form_label(form.degree) }}
                    {{ form_errors(form.degree) }}
                    {{ form_widget(form.degree,{ 'attr': {'class': 'form-control'} }) }}
                  </div>
                  <div class="form-group">
                    {{ form_label(form.reasonStudent) }}
                    {{ form_errors(form.reasonStudent) }}
                    {{ form_widget(form.reasonStudent,{ 'attr': {'class': 'form-control'} }) }}
                  </div>
                </div>
                <div class="tab-pane" id="trabajador">
                  <div class="form-group">
                    {{ form_label(form.department) }}
                    {{ form_errors(form.department) }}
                    {{ form_widget(form.department,{ 'attr': {'class': 'form-control'} }) }}
                  </div>
                  <div class="form-group">
                    {{ form_label(form.reasonOfficer) }}
                    {{ form_errors(form.reasonOfficer) }}
                    {{ form_widget(form.reasonOfficer,{ 'attr': {'class': 'form-control'} }) }}
                  </div>
                </div>
              </div>
            </ul>
            {{ form_rest(form) }}

            <button class="form-submit  pull-right" type="submit">Enviar</button>

            <br>
            <p>* Campos Obligatorios</p>

      </form>

      </div>

    </article>
  </section>
</div>
{% endblock %}